body {
  margin: 0;
  padding: 0;
  position: relative;
}

.block {
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
}

.price-block {
  display: flex;
}

.price-without {
  text-decoration: line-through;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.progress {
  position: absolute;
  height: 100vh;
}

.modal {
  height: 100vh;
  overflow-y: auto;
}

.modal-box {
  box-sizing: border-box;
}

.close-btn {
  display: flex;
  justify-content: end;
}

@media (max-width: 1000px) {
  .modal-box {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .block {
    flex-direction: column;
    align-items: center;
  }
}
